spring:
  application:
    name: j-booking

  datasource:
    url: jdbc:postgresql://localhost:5432/j_booking
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
